* {
  padding: 0;
  margin: 0;
}
#image-gallery-container {
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  --thumbnail-size: 120px;
  height: 90vh;
  width: 90vw;
  position: relative;
  top: 5vh;
  left: 5vw;
  overflow-y: scroll;
}
#image-gallery-container #image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--thumbnail-size), 1fr));
  gap: 20px;
  padding: 1rem;
  padding-bottom: 0;
}
#image-gallery-container #image-gallery .thumbnail-container {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  overflow: hidden;
  transition: transform 200ms;
  position: relative;
}
#image-gallery-container #image-gallery .thumbnail-container:hover, #image-gallery-container #image-gallery .thumbnail-container:focus {
  transform: scale(1.1);
  cursor: pointer;
}
#image-gallery-container #image-gallery .thumbnail-container img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
#image-gallery-container #image-gallery .thumbnail-container .loading-animation {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background-color: #ddd;
  animation: pulse 3s infinite 500ms;
  transform: scale(0);
}
#image-gallery-container #load-page-container {
  width: 100%;
  height: 150px;
  display: grid;
  place-content: center;
}
#image-gallery-container #load-page-container h4 {
  font-family: sans-serif;
  color: lightgray;
}

@media only screen and (max-width: 600px) {
  #image-gallery-container {
    --thumbnail-size: 80px;
  }
  #image-gallery-container #image-gallery {
    gap: 10px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
#image-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  background-color: #00000099;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#image-preview-container #image-preview img {
  max-height: 80vh;
  max-width: 80vw;
}
#image-preview-container .preview-button-row {
  display: flex;
  width: 220px;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
}
#image-preview-container .preview-button-row .preview-button {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: transparent;
  border: none;
}
#image-preview-container .preview-button-row .preview-button img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
#image-preview-container .preview-button-row .preview-button:first-of-type img {
  transform: rotate(180deg);
}

#image-preview-loading-indicator {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: grid;
  place-items: center;
  user-select: none;
  pointer-events: none;
  visibility: hidden;
}
#image-preview-loading-indicator img {
  width: 200px;
  height: 200px;
  animation: spin 1s infinite linear;
}

@media only screen and (max-width: 600px) {
  #image-preview-container #image-preview img {
    padding-bottom: 100px;
  }
  #image-preview-container .preview-button-row {
    bottom: 100px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=/js.00a46daa.css.map */