#image-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  background-color: #00000055;
  height: 100vh;
  place-items: center;

  .image-preview {
    max-height: 90vh;
    max-width: 90vw;
  }
}

#image-preview-loading-indicator {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: grid;
  place-items: center;
  user-select: none;
  pointer-events: none;
  visibility: hidden;

  img {
    width: 200px;
    height: 200px;
    animation: spin 1s infinite linear;
  }
}

#image-preview-button-row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;

  button {
    pointer-events: all;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 3px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
