#image-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  background-color: #00000099;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #image-preview img {
    max-height: 80vh;
    max-width: 80vw;
  }

  .preview-button-row {
    display: flex;
    width: 200px;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;

    .preview-button {
      pointer-events: all;
      width: 60px;
      height: 60px;
      padding: 10px;
      background-color: transparent;
      border: none;

      img {
        width: 100%;
        height: 100%;
        filter: invert(1);
        pointer-events: none;
      }
    }
    .preview-button:first-of-type {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

#image-preview-loading-indicator {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: grid;
  place-items: center;
  user-select: none;
  pointer-events: none;
  visibility: hidden;

  img {
    width: 200px;
    height: 200px;
    animation: spin 1s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
